/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
}
header{
    .bottom-header {
      // justify-content: flex-end;
    }
}
#breadcrumb {
  margin: -39px -40px 35px -40px !important;
}
