<!-- Start Token Number Voucher -->
<div class="token-number" *ngFor="let token of tokenPrint">
  <img src="../../../assets/images/rta-logo.png" alt="" class="logo" />
  <div class="token-date">
    <span> {{'Dispatch.tokenNumber.tokenDate'| translate}} </span> <span>{{formatToday}}</span>
  </div>
  <div class="block-one">
    <div class="token-num">
      <span class="num" style="font-family: 'Digital_Dismay';">{{token.tokenNumber}}</span> <span> {{'Dispatch.tokenNumber.tokenNumber'| translate}}</span>
    </div>
    <div class="lane-num">
      <span class="num">{{token.laneNumber}}</span> <span> {{'Dispatch.tokenNumber.laneNumber'| translate}}</span>
    </div>
  </div>
  <div class="block-two">
    <div class="sub-block">
      <span>{{'Dispatch.tokenNumber.transactionRefNumber'| translate}}:</span> <span>#{{token.transactionId}}</span>
    </div>
    <div class="sub-block"><span>{{'Dispatch.tokenNumber.vehicleMake'| translate}}</span> <span>{{languageStateService.isLang1() ? token.vehicleMake.nameLang1 : token.vehicleMake.nameLang2}}</span></div>
    <div class="sub-block"><span>{{'Dispatch.tokenNumber.vehicleModel'| translate}}</span> <span>{{languageStateService.isLang1() ? token.vehicleModel.nameLang1 : token.vehicleModel.nameLang2}}</span></div>
    <div class="sub-block"><span>{{'Dispatch.tokenNumber.makeYear'| translate}}</span> <span>{{token.makeYear}}</span></div>
    <div class="sub-block">
      <span>{{'Dispatch.tokenNumber.chassisNumber'| translate}}</span> <span>{{token.chassis}}</span>
    </div>

    <div class="sub-block">
      <span> {{'Dispatch.vehicleSearch.plateDetails'| translate}}</span> <span>{{languageStateService.isLang1() ? token.plateDetailsLang1 : token.plateDetailsLang2 }}</span>
    </div>
  </div>

  <div class="block-three">
    <div class="sub-block">
      <span>{{'Dispatch.tokenNumber.ourServices'| translate}}</span> <span>{{'Dispatch.tokenNumber.noOfItems'| translate}} <span> ({{token.printTokenServiceList.length}})</span></span>
    </div>
    <div class="sub-block"  *ngFor="let service of token.printTokenServiceList; let i = index">
      <span>{{i + 1}}- {{languageStateService.isLang1() ? service.nameLang1 : service.nameLang2}}</span>
      <span>{{ service.feeAmount | currency:'AED '}}</span>
    </div>
    <div class="sub-block">
      <span> {{'Dispatch.tokenNumber.totalFees'| translate}}</span> <span>{{token.totalFees | currency:'AED '}}</span>
    </div>
  </div>

  <div class="block-four">
    <img src="../../../assets/images/barcode.png" alt="" class="barcode-img" />
    <img
      src="../../../assets/images/register-logo.png"
      alt=""
      class="register-img"
    />
    <span class="proud"> {{'Dispatch.tokenNumber.proudToBeDifferent'| translate}}</span>
  </div>
</div>
<!-- End Token Number Voucher -->
