<!-- Start Vehicle Details Page -->
<div class="vehicle-details">
  <!-- Start Vehicle Details Edit Form Sec -->
  <div class="vehicle-details-edit">
    <div class="title-sec">
        <h1>Vehicle Detail</h1>
    </div>

    <form>
      <div class="form-row">
          <div class="group-control ui-float-label">
              <p-dropdown [options]="carMake" [(ngModel)]="selectedcarMake" name="carMake" filter="true" class="custom-dropdown"
                id="Make">
                <ng-template let-item pTemplate="selectedItem">
                  <img src="../assets/images/car/{{item.label}}.png" />
                  <span style="vertical-align:middle">{{ item.label }}</span>
                </ng-template>
                <ng-template let-carMake pTemplate="item">
                  <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                    <img src="../assets/images/car/{{carMake.label}}.png" style="width:24px;" />
                    <div class="name">{{ carMake.label }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
              <label for="Make">Make</label>
            </div>

        <div class="group-control ui-inputgroup ui-float-label  invalid-input">
          <input type="text" id="chassisNo" pInputText name="chassisNo" />
          <label for="chassisNo">Chassis No</label>
          <i class="icon chassis"></i>
          <span class="helper">wrong</span>
        </div>



        <div class="group-control ui-inputgroup ui-float-label">
          <input type="text" id="plateDetails" pInputText name="plateDetails" />
          <i class="icon plate-no"></i>
          <label for="plateDetails">Plate Details</label>
        </div>



        <div class="group-control ui-float-label">
          <p-dropdown
          [options]="country"

          [(ngModel)]="selectedcountry"
          id="country"
          name="country"
          [filter]="true"
          class="custom-dropdown">
            <ng-template let-item pTemplate="selectedItem">
              <img src="../assets/images/flags/{{item.label}}.png" />
              <span>{{ item.label }}</span>
            </ng-template>
            <ng-template let-country pTemplate="item">
              <div class="ui-helper-clearfix">
                <img src="../assets/images/flags/{{country.label}}.png" class="country" />
                <div class="name">{{ country.label }}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <label for="country">Country</label>
        </div>



        <div class="group-control ui-float-label">
          <p-dropdown [options]="carMake" [(ngModel)]="carModel" name="CarMake" id="carMake" filter="true" class="custom-dropdown">
            <ng-template let-item pTemplate="selectedItem">
              <img src="../assets/images/car/{{item.label}}.png" />
              <span>{{ item.label }}</span>
            </ng-template>
            <ng-template let-carMake pTemplate="item">
              <div class="ui-helper-clearfix">
                <img src="../assets/images/car/{{carMake.label}}.png"/>
                <div class="name">{{ carMake.label }}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <label for="carMake">Model</label>
        </div>
        <div class="group-control ui-float-label">
          <p-calendar [showIcon]="true" dateFormat="yy" id="MakeYear">
            <ng-template pTemplate="date" let-date>
              <span>{{ date.day }}</span>
            </ng-template>
          </p-calendar>
          <label for="MakeYear">Make Year</label>
        </div>
        <div class="group-control ui-inputgroup ui-float-label disabled-input">
          <input type="text" pInputText id="Fuel" value="2018" />
          <i class="icon fuel"></i>
          <label for="Fuel">Fuel</label>
        </div>
        <div class="group-control ui-inputgroup ui-float-label">
          <input type="text" pInputText id="VehicleClass" />
          <i class="icon bus"></i>
          <label for="VehicleClass">Vehicle Class</label>
        </div>
        <div class="group-control ui-inputgroup ui-float-label show-more-details" [class.d-block]="moreDetails">
          <input type="text" pInputText id="VehicleClass2" />
          <i class="icon bus"></i>
          <label for="VehicleClass2">Vehicle Class</label>
        </div>
        <div class="group-control ui-inputgroup ui-float-label show-more-details" [class.d-block]="moreDetails">
          <input type="text" pInputText id="VehicleClass3" />
          <i class="icon bus"></i>
          <label for="VehicleClass3">Vehicle Class</label>
        </div>
        <div class="group-control ui-inputgroup ui-float-label show-more-details" [class.d-block]="moreDetails">
          <input type="text" pInputText id="VehicleClass4" />
          <i class="icon bus"></i>
          <label for="VehicleClass4">Vehicle Class</label>
        </div>
        <div class="group-control ui-inputgroup ui-float-label show-more-details" [class.d-block]="moreDetails">
          <input type="text" pInputText id="VehicleClass5" />
          <i class="icon bus"></i>
          <label for="VehicleClass5">Vehicle Class</label>
        </div>
      </div>
      <a class="link view-all" [class.view-details]="moreDetails" (click)="showMoreDetails()">View All Vehicle Details</a>
      <button class="btn btn-red continue" (click)="showTokenNumber()">
        Continue
      </button>
    </form>
  </div>
  <!-- End Vehicle Details Edit Form Sec -->

  <!-- Start Slot Sec -->
  <div class="slot-container">
    <div class="slot">
      <!-- Start Add New Slot Sec -->
      <div class="add-slot-container" [class.active]="addSlot">
        <a class="add-slot" (click)="addSlot = !addSlot">Add To Slot</a>
        <div class="title-sec">
            <h1>Add New Slot</h1>
        </div>
        <p-dropdown [options]="slots" filter="true" placeholder="Slot ref no."
          filterPlaceholder="search">
          <ng-template let-slot pTemplate="selectedItem">
            <span>{{ slot.label }}</span>
          </ng-template>
          <ng-template let-slot pTemplate="item">
            <span [class.complete]="slot.value === 'Completed'">{{ slot.label }}</span>
            <span [class.complete]="slot.value === 'Completed'">
              {{ slot.value }}</span>
          </ng-template>
        </p-dropdown>
        <div class="info">
          <div class="col s6">
            <div class="chart-container">
              <div class="chart-info">
                <span> {{ current }} / {{ total }} </span>
                <span>Used Vehicle</span>
              </div>
              <div id="chartContainer" class="chart"></div>
            </div>
            <div class="countdown">
              <div class="timer" id="timer"></div>
              <div>Remaining Time</div>
            </div>
          </div>
          <div class="col s6">
            <ul class="info-list">
              <li><span>Emad Adel</span> <span>Customer Name</span></li>
              <li><span>1120</span> <span>Appointment Ref No. </span></li>
              <li><span>Light Vehicle</span> <span>Vehicle Class</span></li>
            </ul>
          </div>
        </div>
        <div class="slot-service">
          <div class="title-sec">
            <h1>Slot Service</h1>
            <p class="text">
              You have <span class="specfic-ch">(2)</span> services selected
            </p>
          </div>

          <div class="slot-test">
            <div class="test-service">
              <div>
                <i class="icon export renewal"></i>
                <div>
                  <span class="test-name">Export Test</span>
                  <span class="test-status">Attempt <span class="counter">(3)</span>
                  </span>
                </div>
              </div>
              <div>
                <p-inputSwitch [(ngModel)]="export"></p-inputSwitch>
              </div>
            </div>
            <div class="test-service">
              <div>
                <i class="icon renewal"></i>
                <div>
                  <span class="test-name">Renewal Test</span>
                  <span class="test-status">Attempt <span class="counter">(3)</span>
                  </span>
                </div>
              </div>
              <div>
                <p-inputSwitch></p-inputSwitch>
              </div>
            </div>
          </div>
          <a class="link add-service" (click)="showAddSlot()">Add Services</a>
        </div>
      </div>
      <!-- End Add New Slot Sec -->

      <!-- Start Slot Service Sec -->
      <div class="slot-service">
        <div class="title-sec">
          <h1>Slot Service</h1>
          <p class="text">
            You have <span class="specfic-ch">(2)</span> services selected
          </p>
        </div>

        <div class="slot-test">
          <div class="test-service">
            <div>
              <i class="icon export renewal"></i>
              <div>
                <span class="test-name">Export Test</span>
                <span class="test-status">Attempt <span class="counter">(3)</span>
                </span>
              </div>
            </div>
            <div>
              <p-inputSwitch [(ngModel)]="export"></p-inputSwitch>
            </div>
          </div>
          <div class="test-service">
            <div>
              <i class="icon renewal"></i>
              <div>
                <span class="test-name">Renewal Test</span>
                <span class="test-status">Attempt <span class="counter">(3)</span>
                </span>
              </div>
            </div>
            <div>
              <p-inputSwitch></p-inputSwitch>
            </div>
          </div>
        </div>
        <a class="link add-service" (click)="showAddSlot()">Add Services</a>
      </div>
      <!-- End Slot Service Sec -->

      <!-- Start Slot Status Sec -->
      <div class="slot-status">
        <div class="title-sec">
          <h1>Vehicle Status</h1>
          <p class="text">
            You have <span class="specfic-ch">(2)</span> services selected
          </p>
        </div>
        <div class="status yellow">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <div class="block"><span>Status</span>: <span>Meduim</span></div>
        </div>
        <div class="status red">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <span>Status</span>: <span>Meduim</span>
        </div>
        <div class="status turquoise">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <span>Status</span>: <span>Meduim</span>
        </div>
      </div>
      <!-- Start Slot Status Sec -->
    </div>
  </div>
  <!-- End Slot Sec -->
</div>
<!-- End Vehicle Details Page -->

<!-- Start Add Slot Popup -->
<p-dialog class="add-slot-service" [(visible)]="addNewSlot" [width]="580" [contentStyle]="{ 'max-height': '738px' }"
  [modal]="true" dismissableMask="true">
  <p-header>
    <div class="header">
      <div class="title">
        <h1> Select Service</h1>
        <p class="hint">
          You have <span class="counter">(2)</span> services selected copy
        </p>
      </div>
      <a class="close" (click)="addNewSlot = !addNewSlot"></a>
    </div>
  </p-header>
  <div class="filter-container">
    <div class="search">
      <input type="text" name="term" [(ngModel)]="term" placeholder="Search by keyword (s)" />
    </div>
    <div class="services">
      <div class="service" *ngFor="let service of (services | filter: term)">
        <span>{{ service.name }}</span>
        <p-inputSwitch [(ngModel)]="service.status"></p-inputSwitch>
      </div>
    </div>
  </div>
</p-dialog>
<!-- End Show Add Slot Popup -->

<!-- Start Token Number Popup -->
<p-dialog class="token-number" [(visible)]="tokenNumber" [modal]="true" dismissableMask="true">
  <p-header>
    <div class="header">
      <div class="title"><span>Dispatch Vehicle</span></div>
      <a class="close" (click)="tokenNumber = !tokenNumber"></a>
    </div>

    <div class="dialog-content">
      <span class="text">Token Number</span>
      <div class="token-input">
        <input type="text" pInputText placeholder="" name="" value="0" />
        <input type="text" pInputText placeholder="" name="" value="4" />
        <input type="text" pInputText placeholder="" name="" value="9" />
      </div>

      <button class="waves-effect waves-light btn btn-red" (click)="print()">
        Dispatch
      </button>
    </div>
  </p-header>
</p-dialog>
<!-- End Token Number Slot Popup -->

<!-- Start Token Voucher Popup -->
<div id="dvContents">
    <app-token-number></app-token-number>
</div>
<!-- End Token Voucher Popup -->