<!-- Start Vehicle Search Page -->
<div class="container-fluid ">
  <div class="row">
    <!-- Start Search Vehicle Sec -->
    <div class="col xl7 l8 s12 p-0 search-vehicle-sec">
      <span class="step-no p-0">01</span>
      <div class="title-sec">
        <h1> Search Vehicle </h1>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget eleifend risus, in commodo
          ipsum. Donec
          tempus fringilla nisl id dictum.</p>
      </div>
      <div>
        <div class="row tabs-container">
          <div class="col s12 p-0">
            <ul class="tabs" materialize="tabs">
              <li class="tab"><a class="active chassis-no-tab" href="#chassis-no"><span class='title'>Chassis No.</span></a></li>
              <li class="tab"><a class="plate-no-tab" href="#plate-no"><span class='title'>Plate No.</span></a></li>
              <li class="tab"><a class="certificate-tab" href="#certificate"><span class='title'>Certificate</span></a></li>
              <li class="tab"><a class="appointment-tab" href="#appointment"><span class='title'>Appointment</span></a></li>
              <li class="tab"><a class="transaction-no-tab" href="#transaction-no"><span class='title'>Transaction No.</span></a></li>
            </ul>
          </div>
          <div class='tabs-content'>
            <div id="chassis-no" class="col s12">
              <div class="tab-content">
                <form [formGroup]="DespatchFG">
                  <chassisNumber formControlName="chassis-no-1" [type]="'text'" [disabled]="true" [id]="'idusername'"
                    [placeholder]="'Hello'" [multiple]="true" (selected)="chassNumberValue($event)">
                  </chassisNumber>
                </form>
              </div>
            </div>
            <div id="plate-no" class="col s12 p-0">
              <div class="tab-content">
                <div class="row">
                  <div class="col xl9 l7 p-0 border-right">
                    <div class="by-plate">
                      <p-radioButton name="plateName" value="plateNumber" [(ngModel)]="plateNumber" (click)="plateRecognition =!plateRecognition"></p-radioButton>
                      <span>By Plate Number</span>
                    </div>

                    <form class="pl-30" [ngClass]="{'disabled-form': !plateNumber}">
                      <div class="form-row">
                        <div class="group-control ui-inputgroup ui-float-label">
                          <input type="text" pInputText id="PlateNumber" />
                          <i class="icon plate-no"></i>
                          <label for="PlateNumber">Plate Number</label>
                        </div>
                        <div class="group-control ui-float-label">
                          <p-dropdown [options]="plateSource" [(ngModel)]="selectedPlateSource" id="PlateSource" name="PlateSource"
                            filter="true" class="custom-dropdown select-icon">
                            <ng-template let-item pTemplate="selectedItem">
                              <span>{{ item.label }}</span>
                            </ng-template>
                            <ng-template let-plateSource pTemplate="item">
                              <div class="ui-helper-clearfix">
                                <div class="name">{{ plateSource.label }}</div>
                              </div>
                            </ng-template>
                          </p-dropdown>
                          <label for="PlateSource">Select Code</label>
                        </div>

                        <div class="group-control ui-float-label">
                          <p-dropdown [options]="PlateCategory" [(ngModel)]="selectedPlateCategory" id="PlateCatgory"
                            name="PlateCatgory" filter="true" class="custom-dropdown select-icon ">
                            <ng-template let-item pTemplate="selectedItem">
                              <span>{{ item.label }}</span>
                            </ng-template>
                            <ng-template let-PlateCategory pTemplate="item">
                              <div class="ui-helper-clearfix">
                                <div class="name">{{ PlateCategory.label }}</div>
                              </div>
                            </ng-template>
                          </p-dropdown>
                          <label for="PlateCatgory">Select Catgory</label>
                        </div>



                        <!-- <div class="group-control ui-inputgroup ui-float-label">
                      <input type="text" pInputText id="PlateNumber" />
                      <i class="icon plate-no"></i>
                      <label for="PlateNumber">Plate Number</label>-->

                        <div class="group-control ui-float-label">
                          <p-dropdown [options]="country" [(ngModel)]="selectedcountry" id="country" name="country"
                            filter="true" class="custom-dropdown">
                            <ng-template let-country pTemplate="selectedItem">
                              <img src="../assets/images/defult.svg" />
                              <span>{{ country.label }}</span>
                            </ng-template>
                            <ng-template let-country pTemplate="item">
                              <div class="ui-helper-clearfix">
                                <img src="../assets/images/{{country.value}}" />
                                <div class="name">{{ country.label }}</div>
                              </div>
                            </ng-template>
                          </p-dropdown>
                          <label for="PlateCode">Country</label>
                        </div>


                      </div>
                    </form>
                  </div>
                  <div class="col xl3 l5  p-0">
                    <div class="recognation right">
                      <div class="by-plate">
                        <p-radioButton name="plateName" value="plateRecognition" [(ngModel)]="plateRecognition" (click)="plateNumber =!plateNumber"></p-radioButton>
                        <span>By Plate Recognition</span>
                      </div>
                      <a class="card-camera-reco" (click)="showSelectedCaptured()" *ngIf="!selectedCapturedImage"  [ngClass]="{'disabled-block': !plateRecognition}">
                        <div class="select-plate">select plate from <span>Camera Recognition </span></div>
                      </a>
                      <div class="select-palate" *ngIf="selectedCapturedImage"  [ngClass]="{'disabled-block': !plateRecognition}">
                        <div class="selected-car">
                          <img src="../../../assets/images/palte-car.png" alt="" />
                          <a (click)="showSelectedCaptured()" class="edit-btn"></a>
                        </div>
                        <div class="selected-info">
                          <span>Dubai</span> | <span>Private</span>
                          <span class="info"> A 12345</span>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div id="certificate" class="col s12">
              <div class="tab-content">
                <form action="">
                  <div class="form-row">
                    <div class="group-control ui-float-label">
                      <p-dropdown [options]="documentType" [(ngModel)]="selectedDocumentType" id="DocumentType" name="DocumentType"
                        filter="true" class="custom-dropdown">
                        <ng-template let-item pTemplate="selectedItem">
                          <img src="../assets/images/defult.svg" />
                          <span>{{ item.label }}</span>
                        </ng-template>
                        <ng-template let-documentType pTemplate="item">
                          <div class="ui-helper-clearfix">
                            <img src="../assets/images/defult.svg" />
                            <div class="name">{{ documentType.label }}</div>
                          </div>
                        </ng-template>
                      </p-dropdown>
                      <label for="DocumentType">Document Type</label>
                    </div>
                    <div class="group-control ui-inputgroup ui-float-label">
                      <input type="text" pInputText id="DocumentNumber" />
                      <i class="icon plate-no"></i>
                      <label for="DocumentNumber">Document Number</label>
                    </div>
                  </div>
                </form>

              </div>
            </div>
            <div id="appointment" class="col s12">
              <div class="tab-content">
                <div class="row">
                  <div class="col xl5 border-right">
                    <div class="AppointmentNumberBlock">
                      <div class="by-plate">
                        <p-radioButton name="appointment" value="appointmentName" [(ngModel)]="appointmentName" (click)="reservations =!reservations"></p-radioButton>
                        <span>By Appointment Number</span>
                      </div>
                      <form action="" [ngClass]="{'disabled-form': !appointmentName}" >
                        <div class="form-row By-Appointment-Number">
                          <div class="group-control ui-inputgroup ui-float-label">
                            <input type="text" pInputText id="TransactionNo" />
                            <i class="icon calendar"></i>
                            <label for="TransactionNo">Appointment Number</label>
                          </div>
                          <div class="group-control ui-inputgroup ui-float-label">
                            <input type="text" pInputText id="TransactionNo" />
                            <i class="icon mobile"></i>
                            <label for="TransactionNo">Mobile Number</label>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col xl7">
                    <div class="reservationBlock" >
                      <div class="by-plate">
                        <p-radioButton name="appointment" value="reservations" [(ngModel)]="reservations" (click)="appointmentName =!appointmentName"></p-radioButton>
                        <span>By Today’s Reservations</span>
                      </div>
                      <div class="bookedTimeBlock" [ngClass]="{'disabled-block': !reservations}">
                        <a class="bookedTime" *ngFor="let reservationsItem of reservationsList">
                          <div class="bookedTimeNum">
                            <span>{{reservationsItem.code}}</span>
                            <div class="booked-time"> booked Time <span> {{reservationsItem.date}}</span> to <span>{{reservationsItem.time}}</span></div>
                          </div>
                          <div class="reservationNum">
                            <span>{{reservationsItem.name}}</span>
                            <span>{{reservationsItem.sarial}}</span>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div id="transaction-no" class="col s12">
              <div class="tab-content">
                <form action="">
                  <div class="form-row">
                    <div class="group-control ui-inputgroup ui-float-label">
                      <input type="text" pInputText id="TransactionNo" />
                      <i class="icon plate-no"></i>
                      <label for="TransactionNo">Transaction No.</label>
                    </div>
                  </div>
                </form>

              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <!-- Start Search Vehicle Sec -->

    <!-- Start Select Service Sec -->
    <div class="col xl5 l4 s12 p-0 select-service-sec">
      <span class="step-no p-0">02</span>
      <div class="title-sec">
        <h1> Select Services </h1>
        <p class="text">You have <span class="specfic-ch"> (2) </span>services selected</p>
      </div>
      <div class="select-service">
        <a class="active">
          <span>Booth One</span>
        </a>
        <a><span>Booth Two</span></a>
        <a><span>Booth Three</span></a>
        <a> <span>Booth Four</span></a>
      </div>

      <div class="filter-container">
        <div class="search">
          <input type="text" name="term" [(ngModel)]="term" placeholder="Search by keyword (s)" />
        </div>
        <div class="services">
          <div class="service" *ngFor="let service of services | filter : term">
            <span>{{service.name}}</span>
            <p-inputSwitch [(ngModel)]="service.status"></p-inputSwitch>
          </div>
        </div>
      </div>
    </div>
    <!-- End Select Service Sec -->
  </div>
  <div class="row">
    <!-- Start Card Box Action Sec -->
    <div class="col s12 p-0 card-box-action">
      <div class="title-sec">
        <h1> Select Service </h1>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget eleifend risus, in commodo
          ipsum.
          Donec
          tempus fringilla nisl id dictum.</p>
      </div>
      <div class="action left">
        <a class="reset" (click)="toast ()">Reset</a>
        <button mz-button class="waves-effect waves-light btn btn-red continue" routerLink="/inspection/VehicleDetails">
          Continue
        </button>
      </div>
    </div>
    <!-- End Card Box Action Sec -->

  </div>
</div>

<!-- Start Select Captured Vehicle Popup -->
<p-dialog class="selected-captured" [(visible)]="selectedCaptured" [width]="579" [modal]="true" dismissableMask="true"
  [modal]="true" dismissableMask="true">
  <p-header>
    <div class="header">
      <div class="title">
        <span> Select Captured Vehicle</span>
        <p class="hint">
          You have <span class="counter">(20)</span> captured vehicle
        </p>
      </div>
      <a class="close" (click)="selectedCaptured = !selectedCaptured"></a>
    </div>
  </p-header>
  <div class="content-header">
    <span>Plate Details</span>
    <a>Remove all</a>
  </div>
  <div class="content-block" *ngFor="let selectedCaputeredItem of selectedCaputered">
    <!-- <div class="large-image">
      <img src="../../../assets/images/large-car-selected.png" alt="">
    </div> -->
    <div class="block-info" >
      <a class="image-block" [ngClass]="{'selected': selectItem}">
        <img src="{{selectedCaputeredItem.urlImage}}" alt="" srcset="">
      </a>
      <div class="block-info-data">
        <span class="select-vehicle"> {{selectedCaputeredItem.name}} </span>
        <span class="select-date">{{selectedCaputeredItem.date}}</span>
        <span class="select-time"> {{selectedCaputeredItem.time}}</span>
      </div>
    </div>
    <div class="action-block">
      <a class="delete-btn"></a>
      <p-radioButton name="removePlate" value="{{selectedCaputeredItem.name}}" [(ngModel)]="selectedCaputeredItem.name" (click)="selectItem =!selectItem"></p-radioButton>
    </div>
  </div>

</p-dialog>
<!-- End Select Captured Vehicle Popup -->
