<!-- Start Vehicle Details Page -->
<div class="vehicle-details">
  <!-- Start Vehicle Details Edit Form Sec -->
  <div class="vehicle-details-edit">
    <div class="title-sec">
      <h1>
        {{
              'Dispatch.vehicleDetails.vehicleDetail'
                | translate
            }}
      </h1>
    </div>

    <SVIS-VehicleTransaction [TransactionData]="ResultVehicleSearch"   (VehicleTransaction)="showTokenNumber($event)"></SVIS-VehicleTransaction>

    <!-- <button class="btn btn-red continue" (click)="showTokenNumber()">

        {{
          'Dispatch.vehicleDetails.continue'
            | translate
        }}
      </button> -->
  </div>
  <!-- End Vehicle Details Edit Form Sec -->

  <!-- Start Slot Sec -->
  <div class="slot-container">
    <div class="slot">
      <!-- Start Add New Slot Sec -->
      <div class="add-slot-container" [class.active]="addSlot">
        <a class="add-slot" (click)="addSlot = !addSlot">{{
            'Dispatch.vehicleDetails.addToSlot'
              | translate
          }}</a>
        <div class="title-sec">
          <h1>{{ 'Dispatch.vehicleDetails.addNewSlot' | translate }}</h1>
        </div>
        <p-dropdown 
            [options]="slots" 
            filter="true" 
            (onChange)="onSelectSlotItem($event)" 
            placeholder="{{ 'Dispatch.vehicleDetails.slotRefNo' | translate }}" 
            filterPlaceholder="{{ 'Dispatch.vehicleDetails.search' | translate }}">

          <ng-template let-slot pTemplate="selectedItem">
            <span>{{ slot.label }}</span>
          </ng-template>
          <ng-template let-slot pTemplate="item">
            <span [class.complete]="slot.value === 'Completed'">{{ slot.label }}</span>
            <span [class.complete]="slot.value === 'Completed'">Reminding {{ slot.reservedNumber }} / {{slot.totalNumber}}</span>
          </ng-template>
        </p-dropdown>
        <div class="info">
          <div class="col s6">
            <div class="chart-container">
              <div class="chart-info">
                <span> {{ current }} / {{ total }} </span>
                <span>
                  {{
                      'Dispatch.vehicleDetails.usedVehicle'
                        | translate
                    }}
                </span>
              </div>
              <div id="chartContainer" class="chart"></div>
            </div>
            <div class="countdown">
              <div class="timer">{{ remainingTimeValue }}</div>
              <div>
                {{
                    'Dispatch.vehicleDetails.remainingTime'
                      | translate
                  }}
              </div>
            </div>
          </div>
          <div class="col s6">
            <ul class="info-list" *ngIf="slotData">
              <li><span>{{slotData.customerName}}</span> <span>
                  {{
                    'Dispatch.vehicleDetails.customerName'
                      | translate
                  }}
                </span></li>
              <li><span>{{slotData.appointmentId}}</span> <span> {{
                  'Dispatch.vehicleDetails.appointmentRefNo'
                    | translate
                }} </span></li>
              <li><span>{{languageStateService.isLang1()
                  ? slotData.vehicleClass.nameLang1
                  : slotData.vehicleClass.nameLang2}}</span> <span> {{
                  'Dispatch.vehicleDetails.vehicleClass'
                    | translate
                }}</span></li>
            </ul>
          </div>
        </div>
        <div class="slot-service">
          <div class="title-sec">
            <h1>{{
                'Dispatch.vehicleDetails.slotService'
                  | translate
              }}

            </h1>
            <p class="text">

              {{
                'Dispatch.vehicleDetails.youHave'
                  | translate
              }}
              <span class="specfic-ch">({{slotService.length}})</span>
            </p>
          </div>

          <div class="slot-test">
            <div class="test-service" *ngFor="let item of slotService">
              <div class="service-block">
                <img [src]="'data:image/jpg;base64,' + item.serviceImg" alt="">
                <div>
                  <span class="test-name">{{languageStateService.isLang1() ? item.serviceNameLang1 : item.serviceNameLang2}}</span>
                  <span class="test-status"> {{
                    'Dispatch.vehicleDetails.addServices'
                      | translate
                  }} <span class="counter">({{item.attempt}})</span>
                  </span>
                </div>
              </div>
              <div>
                <p-inputSwitch [(ngModel)]="item.status" (onChange)="selectSlotService($event,item)"></p-inputSwitch>
              </div>
            </div>
          </div>
          <a class="link add-service" (click)="showAddSlot()">
            {{
                'Dispatch.vehicleDetails.attempt'
                  | translate
              }}
          </a>
        </div>
      </div>
      <!-- End Add New Slot Sec -->

      <!-- Start Slot Service Sec -->
      <div class="slot-service">
        <div class="title-sec">
          <h1>
            {{
                'Dispatch.vehicleDetails.slotService'
                  | translate
              }}
          </h1>
            <p>
            {{
              'Dispatch.vehicleDetails.youHave'
                | translate
            }} <span class="specfic-ch">({{slotService.length}})</span>
            {{
              'Dispatch.vehicleDetails.servicesSelected'
                | translate
            }}
          </p>
        </div>

        <div class="slot-test">
          <div class="test-service" *ngFor="let item of slotService">
              <div class="service-block">
                <img [src]="'data:image/jpg;base64,' + item.serviceImg" alt="">
                <div>
                  <span class="test-name">{{languageStateService.isLang1() ? item.serviceNameLang1 : item.serviceNameLang2}}</span>
                  <span class="test-status"> {{
                    'Dispatch.vehicleDetails.attempt'
                      | translate
                  }} <span class="counter">({{item.attempt}})</span>
                  </span>
                </div>
              </div>
              <div>
                <p-inputSwitch [(ngModel)]="item.status" (onChange)="selectSlotService($event,item)"></p-inputSwitch>
              </div>
            </div>
        </div>
        <a class="link add-service" (click)="showAddSlot()">
          {{
              'Dispatch.vehicleDetails.addServices'
                | translate
            }}
        </a>
      </div>
      <!-- End Slot Service Sec -->

      <!-- Start Slot Status Sec -->
      <div class="slot-status">
        <div class="title-sec">
          <h1> {{
              'Dispatch.vehicleDetails.vehicleStatus'
                | translate
            }}</h1>
          <p class="text">

            {{
              'Dispatch.vehicleDetails.youHave'
                | translate
            }}
            <span class="specfic-ch">({{VehicleStatus.length}})</span>
            {{
              'Dispatch.vehicleDetails.servicesSelected'
                | translate
            }}
          </p>
        </div>

        <div class="status" *ngFor="let vehicleStatue of VehicleStatus"
          [ngClass]="{'turquoise': vehicleStatue.severity === 1, 'yellow': vehicleStatue.severity === 2, 'red': vehicleStatue.severity === 3}">
          <p>{{ languageStateService.isLang1() ? vehicleStatue.lang1 : vehicleStatue.lang2}}</p>
          <div class="block"><span>Status</span>:
            <span>{{ vehicleStatue.severity === 1 ? 'Low': (vehicleStatue.severity === 2 ? 'Meduim': (vehicleStatue.severity === 3 ? 'High': ''))}}</span>
          </div>
        </div>


      </div>
      <!-- Start Slot Status Sec -->
    </div>
  </div>
  <!-- End Slot Sec -->
</div>
<!-- End Vehicle Details Page -->

<!-- Start Add Slot Popup -->
<p-dialog class="add-slot-service" [(visible)]="addNewSlot" [width]="580" [contentStyle]="{ 'max-height': '738px' }"
  [modal]="true" dismissableMask="true" [draggable]="false">
  <p-header>
    <div class="header">
      <div class="title">
        <h1>
          {{
              'Dispatch.vehicleDetails.selectService'
                | translate
            }}
        </h1>
        <p class="hint">
          {{
              'Dispatch.vehicleDetails.youHave'
                | translate
            }}
          <span class="counter">(2)</span>
          {{
            'Dispatch.vehicleDetails.servicesSelected'
              | translate
          }}
        </p>
      </div>
      <a class="close" (click)="addNewSlot = !addNewSlot"></a>
    </div>
  </p-header>
  <div class="content-body filter-container">
    <div class="search">
      <input type="text" name="term" [(ngModel)]="term" placeholder="  {{
        'Dispatch.vehicleDetails.searchByKeyword'
          | translate
      }}" />
    </div>
    <div class="services">
      <div class="service" *ngFor="let service of (servicesList | filter : term  : (languageStateService.isLang1() ? 'serviceNameLang1' : 'serviceNameLang2'))">
        <span>{{ languageStateService.isLang1() ? service.serviceNameLang1 : service.serviceNameLang2 }}</span>
        <p-inputSwitch [(ngModel)]="service.added" (onChange)="chooseService($event, service)"></p-inputSwitch>
      </div>
    </div>
  </div>
</p-dialog>
<!-- End Show Add Slot Popup -->

<!-- Start Token Number Popup -->
<p-dialog class="token-number" [(visible)]="tokenNumber" [modal]="true" dismissableMask="true" [draggable]="false">
  <p-header>
    <div class="header">
      <div class="title"><span>
          {{
            'Dispatch.tokenNumber.dispatchVehicle'
              | translate
          }}
        </span></div>
      <a class="close" (click)="tokenNumber = !tokenNumber"></a>
    </div>
  </p-header>
    <div class="content-body">
      <div class="dispatchMsgError">
          {{ dispatchMsgError }}
      </div>
      <div class="token-input">
          <span class="text">{{'Dispatch.tokenNumber.tokenNumber' | translate }}</span>
          <div class="custom-border">
              <input type="text" [(ngModel)]="tokenNum"  maxlength="3"> <!--[disabled]="tokenNumberData.tokenNumber !== null"-->
          </div>
      </div>
      <div class="mobile-num">
          <span class="text">{{'Dispatch.tokenNumber.mobileNumber' | translate}}</span>
          <div class="custom-border">
              <input type="text" [(ngModel)]="mobileNum" maxlength="12">
          </div>
      </div>
      <a class="red-link" (click)="print()">
        {{'Dispatch.tokenNumber.dispatch' | translate}}
      </a>
    </div>

</p-dialog>
<!-- End Token Number Slot Popup -->

<!-- Start Token Voucher Popup -->
<div id="dvContents">
  <app-token-number [tokenPrint]="tokenData"></app-token-number>
</div>
<!-- End Token Voucher Popup -->
